body {
    /*padding:0;
    margin: 0;
    background-color: #101338;*/
  width: 100%;
  height: 100%;
  background-image: url('paisagem.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #111;
    text-align: center;
}

.middle {
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    width: 100%;
    text-align: center;
}
.btn {
    display: inline-block;
    width: 110px;
    height: 110px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 26%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #5452c7;
    overflow: hidden;
    position: relative;

}
 img {
    padding-top: 13px;
    padding-right: 1px;
    line-height: 50px;
    font-size: 26px;
    transition: 0.2s linear;
    width:80px;
    height:80px;
}
.btn:hover img {
    transform: scale(1.3);
    color:#f1f1f1
}
.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3542b8;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
}100%{
    top: -10%;
    left: -10%;
}
}
/*------------------------------------------------------------------*/
div.um {
    margin-top: 22%;
    position: relative;
    width: 318px;
    height: 25px;
    border: px solid black;
    padding: 5px;
    margin-left: 38%;
    font-family:'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: rgb(82, 110, 54);
    color: #cecece;
    border-radius: 8px;
    
  }
  
  div.dois {
    margin-top: 1%;
    position: relative;
    width: 318px;
    height: 25px;
    border: px solid black;
    padding: 5px;
    margin-left: 38%;
    font-family:'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: rgb(82, 110, 54);
    color: #cecece;
    border-radius: 8px;
    
  }
p {
    font-family:'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-top: 8%;
    margin-left: 35%;
    color: #111;
    text-align: center;
    border-top: 1px solid #111;
    width: 400px;
    padding: 5px;
}